<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wikout"
    android:screenOrientation="portrait"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="utils.AcraClass"
        android:allowBackup="true"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:logo="@drawable/icono_top"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCyZF9Cxz6bhgzuGLt7OvD3f_gPqsfvJSI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.wikout.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.wikout.LoginActivity"
            android:label="@string/app_name" />
        <activity android:name=".LoginUsingLoginFragmentActivity" />
        <activity
            android:name="walktrought.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.SplashScreen" >
        </activity>
        <activity
            android:name="com.wikout.Map"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.SplashScreen" >
        </activity>
        <activity
            android:name="com.wikout.Mapv2"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.InsertOffer" >
        </activity>
        <activity
            android:name="com.wikout.OfferList"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.Map" >
        </activity>
        <activity
            android:name="com.wikout.ViewOffer"
            android:label="@string/titleName"
            android:parentActivityName="com.wikout.Map" >
        </activity>
        <activity
            android:name="com.wikout.InsertOffer"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.Map" >
        </activity>
        <activity
            android:name="com.wikout.InsertCommerce"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.Map" >
        </activity>
        <activity
            android:name="com.wikout.CommerceList"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.SplashScreen" >
        </activity>
        <activity
            android:name="utils.Photo"
            android:label="@string/app_name"
            android:parentActivityName="com.wikout.Map" >
        </activity>
    </application>

</manifest>