<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wikout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

   

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AcraClass"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" android:logo="@drawable/icono_top" android:icon="@drawable/icono_app">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCyZF9Cxz6bhgzuGLt7OvD3f_gPqsfvJSI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
		
        
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SplashScreen"
            android:screenOrientation="portrait" >
           
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/app_name"
            android:parentActivityName=".SplashScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Mapv2"
            android:label="@string/app_name"
            android:parentActivityName=".InsertOffer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OfferList"
            android:label="@string/app_name"
            android:parentActivityName=".Map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewOffer"
            android:label="@string/titleName"
            android:parentActivityName=".Map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InsertOffer"
            android:label="@string/app_name"
            android:parentActivityName=".Map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InsertCommerce"
            android:label="@string/app_name"
            android:parentActivityName=".Map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CommerceList"
            android:label="@string/app_name"
            android:parentActivityName=".SplashScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="utils.Photo"
            android:label="@string/app_name"
            android:parentActivityName=".Map" >
        </activity>
    </application>

</manifest>